.box-form-search-control .block-search{
    float: none;
    padding-left: 0;
}

.box-header-seller-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.seller-result-index .seller-toolbar .pager{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.btn-seller-filters{
    background: #e3e3e3;
    border-color: #adadad;
    color: #514943;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    padding-left: 1.7rem;
    padding-right: 2.1rem;
    padding-top: 0.7rem;
}

#tab-filters-content{
    display: none;
}
.form-seller-filters{
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.form-seller-filters .btn-seller-cancel{
    background-image: none;
    background: #eeeeee;
    border: 1px solid #cccccc;
    color: #333333;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
}
.form-seller-filters .btn-seller-cancel:hover{
    background: #e1e1e1;
    border: 1px solid #cccccc;
    color: #333333;
}
.form-seller-filters .row-input{
    display: flex;
    flex-wrap: wrap;
    padding-bottom:20px;
}
.form-seller-filters .row-input .col{
    min-width: 200px;
    width: calc(100% / 3);
}
.form-seller-filters .row-input .col .input-group{
    padding: 15px;
}
.form-seller-filters .actions{
    padding: 0 15px;
}
